In [41]:
import pandas as pd

In [42]:
fileName = "1_kiwoom_stock.csv"

In [43]:
data = pd.read_csv(fileName, sep=',', encoding='utf-8')

In [44]:
df0 = pd.DataFrame(data=data)
df0

,일자,시가,고가,저가,종가,종가 단순 5,10,20,60,120,거래량,단순 5,20.1,60.1,120.1,Unnamed: 15
0,2004/04/23,6075.0,6798.0,5352.0,5352.0,,,,,,1415294.0,,,,,NaN
1,2004/04/26,5436.0,5740.0,5261.0,5398.0,,,,,,343328.0,,,,,NaN
2,2004/04/27,5451.0,5481.0,5032.0,5063.0,,,,,,299528.0,,,,,NaN
3,2004/04/28,5070.0,5451.0,4994.0,5443.0,,,,,,182628.0,,,,,NaN
4,2004/04/29,5116.0,5436.0,5025.0,5101.0,5271.4,,,,,109925.0,470140.6,,,,NaN
5,2004/04/30,4910.0,5200.0,4910.0,4948.0,5190.6,,,,,107015.0,208484.8,,,,NaN
6,2004/05/03,4773.0,4987.0,4682.0,4682.0,5047.4,,,,,144588.0,168736.8,,,,NaN
7,2004/05/04,4690.0,4758.0,4568.0,4606.0,4956,,,,,95754.0,127982,,,,NaN
8,2004/05/06,4591.0,4629.0,4416.0,4416.0,4750.6,,,,,101120.0,111680.4,,,,NaN
9,2004/05/07,4339.0,4408.0,4225.0,4225.0,4575.4,4923.4,,,,67420.0,103179.4,,,,NaN
10,2004/05/10,4187.0,4187.0,3807.0,3913.0,4368.4,4779.5,,,,102912.0,102358.8,,,,NaN
11,2004/05/11,3913.0,4103.0,3913.0,4050.0,4242,4644.7,,,,60039.0,85449,,,,NaN
12,2004/05/12,4073.0,4149.0,3966.0,3982.0,4117.2,4536.6,,,,43831.0,75064.4,,,,NaN
13,2004/05/13,3883.0,3959.0,3860.0,3921.0,4018.2,4384.4,,,,86440.0,72128.4,,,,NaN
14,2004/05/14,3959.0,3959.0,3746.0,3757.0,3924.6,4250,,,,110610.0,80766.4,,,,NaN
15,2004/05/17,3761.0,3776.0,3308.0,3308.0,3803.6,4086,,,,121547.0,84493.4,,,,NaN
16,2004/05/18,3091.0,3285.0,3091.0,3167.0,3627,3934.5,,,,58495.0,84184.6,,,,NaN
17,2004/05/19,3175.0,3544.0,3175.0,3544.0,3539.4,3828.3,,,,79458.0,91310,,,,NaN
18,2004/05/20,3441.0,3452.0,3312.0,3327.0,3420.6,3719.4,,,,33260.0,80674,,,,NaN
19,2004/05/21,3334.0,3494.0,3334.0,3369.0,3343,3633.8,4278.6,,,10446.0,60641.2,178681.9,,,NaN
20,2004/05/24,3388.0,3593.0,3388.0,3479.0,3377.2,3590.4,4184.95,,,43090.0,44949.8,110071.7,,,NaN
21,2004/05/25,3502.0,3502.0,3319.0,3373.0,3418.4,3522.7,4083.7,,,15129.0,36276.6,93661.75,,,NaN
22,2004/05/27,3433.0,3491.0,3205.0,3205.0,3350.6,3445,3990.8,,,53261.0,31037.2,81348.4,,,NaN
23,2004/05/28,3319.0,3369.0,3121.0,3129.0,3311,3365.8,3875.1,,,81859.0,40757,76309.95,,,NaN
24,2004/05/31,3167.0,3205.0,2992.0,3011.0,3239.4,3291.2,3770.6,,,100248.0,58717.4,75826.1,,,NaN
25,2004/06/01,3022.0,3060.0,2828.0,2870.0,3117.6,3247.4,3666.7,,,199076.0,89914.6,80429.15,,,NaN
26,2004/06/02,2821.0,2973.0,2821.0,2931.0,3029.2,3223.8,3579.15,,,123638.0,111616.4,79381.65,,,NaN
27,2004/06/03,2954.0,2965.0,2790.0,2817.0,2951.6,3151.1,3489.7,,,246716.0,150307.4,86929.75,,,NaN
28,2004/06/04,2817.0,2843.0,2718.0,2756.0,2877,3094,3406.7,,,197643.0,173464.2,91755.9,,,NaN
29,2004/06/07,2764.0,2920.0,2756.0,2889.0,2852.6,3046,3339.9,,,278685.0,209151.6,102319.15,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3560,2018/09/04,91700.0,91700.0,90000.0,90700.0,92020,91550,89415,97385,106630,85178.0,84706.6,109408.8,108163.67,105225.58,NaN
3561,2018/09/05,90700.0,90900.0,89700.0,89900.0,91300,91760,89360,96858.33,106450,45555.0,72199.2,108491.15,107333.28,105003.18,NaN
3562,2018/09/06,88900.0,89900.0,88200.0,88300.0,90400,91640,89225,96321.67,106265,68339.0,74055.6,108965.6,106939.3,105257.24,NaN
3563,2018/09/07,88400.0,89100.0,86500.0,89100.0,89780,91560,89140,95840,106090.83,74517.0,66750.6,107262.5,105935.4,105250.13,NaN
3564,2018/09/10,88100.0,91300.0,87700.0,90700.0,89740,91210,89185,95443.33,105913.33,76396.0,69997,105945.45,105588.9,105551.87,NaN
3565,2018/09/11,91400.0,93600.0,90500.0,92300.0,90060,91040,89615,95131.67,105782.5,72431.0,67447.6,95198.1,104122.18,105776.93,NaN
3566,2018/09/12,92000.0,92800.0,89200.0,90200.0,90120,90710,89900,94851.67,105625.83,78493.0,74035.2,91672.8,103930.35,106029.86,NaN
3567,2018/09/13,91200.0,91900.0,89900.0,91900.0,90840,90620,90400,94525,105487.5,68017.0,73970.8,86789.7,101908.7,106210.68,NaN
3568,2018/09/14,92500.0,94000.0,92000.0,93100.0,91640,90710,90830,94276.67,105350.83,77328.0,74533,84573.25,101642.77,106144.61,NaN
3569,2018/09/17,90800.0,92900.0,90600.0,91500.0,91800,90770,91105,94018.33,105246.67,30327.0,65319.2,82898.5,98779.52,105553.16,NaN
3570,2018/09/18,90800.0,91000.0,90100.0,90600.0,91460,90760,91155,93711.67,105130.83,48040.0,60441,78891.3,97756.28,105437.15,NaN
3571,2018/09/19,91400.0,93200.0,90600.0,92800.0,91980,91050,91405,93491.67,105033.33,67224.0,58187.2,78232,96410.03,105182.53,NaN
3572,2018/09/20,92900.0,98000.0,92300.0,96300.0,92860,91850,91745,93330,104969.17,152674.0,75118.6,83073,97194.23,105876.58,NaN
3573,2018/09/21,96900.0,97600.0,94500.0,95400.0,93320,92480,92020,93186.67,104876.67,68294.0,73311.8,83383.5,96889.65,106042.14,NaN
3574,2018/09/27,95000.0,97800.0,94600.0,97200.0,94460,93130,92170,92998.33,104782.5,68983.0,81043,78478.4,95397.13,106143.18,NaN
3575,2018/09/28,97700.0,98400.0,94600.0,97500.0,95840,93650,92345,92956.67,104695,46643.0,80763.6,73339.7,93141.07,105512.73,NaN
3576,2018/10/01,97400.0,97700.0,94800.0,95000.0,96280,94130,92420,92823.33,104615.83,53120.0,77942.8,70591.1,91331.98,105287.45,NaN
3577,2018/10/02,95100.0,95100.0,88200.0,88900.0,94800,93830,92225,92661.67,104469.17,210338.0,89475.6,78155.15,92763.28,106442.6,NaN
3578,2018/10/04,89000.0,89100.0,83200.0,84500.0,92620,92970,91840,92415,104252.5,188621.0,113541,82034.1,94646.17,106793.26,NaN
3579,2018/10/05,83800.0,85000.0,82100.0,83200.0,89820,92140,91455,92110,104041.67,155679.0,130880.2,86809.85,94714.52,107255.54,NaN
3580,2018/10/08,82600.0,83400.0,81300.0,82000.0,86720,91280,91020,91816.67,103816.67,90534.0,139658.4,87077.65,94639.33,107296.23,NaN
3581,2018/10/10,81400.0,82400.0,78500.0,79000.0,83520,89900,90475,91458.33,103541.67,115242.0,152082.8,90562,93923.77,107648.44,NaN
3582,2018/10/11,75900.0,76700.0,73600.0,74000.0,80540,87670,89760,91033.33,103233.33,188626.0,147740.4,96576.35,94634.45,108093.02,NaN
3583,2018/10/12,73400.0,76600.0,73400.0,75900.0,78820,85720,89100,90636.67,102936.67,110480.0,132112.2,98374.5,95390.6,108637.15,NaN
3584,2018/10/15,76100.0,77900.0,74400.0,74700.0,77120,83470,88300,90198.33,102605,90650.0,119106.4,99087.2,94598.78,108267.77,NaN
3585,2018/10/16,74500.0,75400.0,74200.0,75300.0,75780,81250,87450,89811.67,102295,62781.0,113555.8,98604.7,94379.82,108378.58,NaN
3586,2018/10/17,76700.0,78700.0,75500.0,76600.0,75300,79410,86770,89485,102008.33,84186.0,107344.6,98889.35,94127.05,108519.47,NaN
3587,2018/10/18,76500.0,77500.0,75800.0,76600.0,75820,78180,86005,89153.33,101700.83,41210.0,77861.4,97549,93626.2,107924.7,NaN
3588,2018/10/19,75800.0,77000.0,74300.0,76900.0,76020,77420,85195,88873.33,101366.67,65011.0,68767.6,96933.15,92610.13,107773.66,NaN
3589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
fileName_Modified = "2_kiwoom_stock_modified.csv"
data = pd.read_csv(fileName_Modified, sep=',', encoding='utf-8')
df1 = pd.DataFrame(data=data)
df1

              일자       시가       고가       저가       종가        거래량
0     2004/04/23   6075.0   6798.0   5352.0   5352.0  1415294.0
1     2004/04/26   5436.0   5740.0   5261.0   5398.0   343328.0
2     2004/04/27   5451.0   5481.0   5032.0   5063.0   299528.0
3     2004/04/28   5070.0   5451.0   4994.0   5443.0   182628.0
4     2004/04/29   5116.0   5436.0   5025.0   5101.0   109925.0
5     2004/04/30   4910.0   5200.0   4910.0   4948.0   107015.0
6     2004/05/03   4773.0   4987.0   4682.0   4682.0   144588.0
7     2004/05/04   4690.0   4758.0   4568.0   4606.0    95754.0
8     2004/05/06   4591.0   4629.0   4416.0   4416.0   101120.0
9     2004/05/07   4339.0   4408.0   4225.0   4225.0    67420.0
10    2004/05/10   4187.0   4187.0   3807.0   3913.0   102912.0
11    2004/05/11   3913.0   4103.0   3913.0   4050.0    60039.0
12    2004/05/12   4073.0   4149.0   3966.0   3982.0    43831.0
13    2004/05/13   3883.0   3959.0   3860.0   3921.0    86440.0
14    2004/05/14   3959.0   3959.0   3746.0   3757.0   110610.0
15    2004/05/17   3761.0   3776.0   3308.0   3308.0   121547.0
16    2004/05/18   3091.0   3285.0   3091.0   3167.0    58495.0
17    2004/05/19   3175.0   3544.0   3175.0   3544.0    79458.0
18    2004/05/20   3441.0   3452.0   3312.0   3327.0    33260.0
19    2004/05/21   3334.0   3494.0   3334.0   3369.0    10446.0
20    2004/05/24   3388.0   3593.0   3388.0   3479.0    43090.0
21    2004/05/25   3502.0   3502.0   3319.0   3373.0    15129.0
22    2004/05/27   3433.0   3491.0   3205.0   3205.0    53261.0
23    2004/05/28   3319.0   3369.0   3121.0   3129.0    81859.0
24    2004/05/31   3167.0   3205.0   2992.0   3011.0   100248.0
25    2004/06/01   3022.0   3060.0   2828.0   2870.0   199076.0
26    2004/06/02   2821.0   2973.0   2821.0   2931.0   123638.0
27    2004/06/03   2954.0   2965.0   2790.0   2817.0   246716.0
28    2004/06/04   2817.0   2843.0   2718.0   2756.0   197643.0
29    2004/06/07   2764.0   2920.0   2756.0   2889.0   278685.0
...          ...      ...      ...      ...      ...        ...
3560  2018/09/04  91700.0  91700.0  90000.0  90700.0    85178.0
3561  2018/09/05  90700.0  90900.0  89700.0  89900.0    45555.0
3562  2018/09/06  88900.0  89900.0  88200.0  88300.0    68339.0
3563  2018/09/07  88400.0  89100.0  86500.0  89100.0    74517.0
3564  2018/09/10  88100.0  91300.0  87700.0  90700.0    76396.0
3565  2018/09/11  91400.0  93600.0  90500.0  92300.0    72431.0
3566  2018/09/12  92000.0  92800.0  89200.0  90200.0    78493.0
3567  2018/09/13  91200.0  91900.0  89900.0  91900.0    68017.0
3568  2018/09/14  92500.0  94000.0  92000.0  93100.0    77328.0
3569  2018/09/17  90800.0  92900.0  90600.0  91500.0    30327.0
3570  2018/09/18  90800.0  91000.0  90100.0  90600.0    48040.0
3571  2018/09/19  91400.0  93200.0  90600.0  92800.0    67224.0
3572  2018/09/20  92900.0  98000.0  92300.0  96300.0   152674.0
3573  2018/09/21  96900.0  97600.0  94500.0  95400.0    68294.0
3574  2018/09/27  95000.0  97800.0  94600.0  97200.0    68983.0
3575  2018/09/28  97700.0  98400.0  94600.0  97500.0    46643.0
3576  2018/10/01  97400.0  97700.0  94800.0  95000.0    53120.0
3577  2018/10/02  95100.0  95100.0  88200.0  88900.0   210338.0
3578  2018/10/04  89000.0  89100.0  83200.0  84500.0   188621.0
3579  2018/10/05  83800.0  85000.0  82100.0  83200.0   155679.0
3580  2018/10/08  82600.0  83400.0  81300.0  82000.0    90534.0
3581  2018/10/10  81400.0  82400.0  78500.0  79000.0   115242.0
3582  2018/10/11  75900.0  76700.0  73600.0  74000.0   188626.0
3583  2018/10/12  73400.0  76600.0  73400.0  75900.0   110480.0
3584  2018/10/15  76100.0  77900.0  74400.0  74700.0    90650.0
3585  2018/10/16  74500.0  75400.0  74200.0  75300.0    62781.0
3586  2018/10/17  76700.0  78700.0  75500.0  76600.0    84186.0
3587  2018/10/18  76500.0  77500.0  75800.0  76600.0    41210.0
3588  2018/10/19  75800.0  77000.0  74300.0  76900.0    65011.0
3589         NaN      NaN      NaN      NaN      NaN        NaN

[3590 rows x 6 columns]